:root {
    --yellow: rgb(245, 208, 78);
}
body {
    font-family: "Figtree", sans-serif;
    background-color: var(--yellow);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40em;
    margin: 0;
}

.card-blog {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 0 0 black;
    width: clamp(20em, 30rem, 20em);
    padding-block: clamp(1em, 5rem, 1em);
    padding-inline: clamp(1em, 5rem, 1em);
    border: 0.1em solid black;
}
.card-blog__image {
    width: clamp(20em, 20rem, 20em);
    border-radius: 1em;
}

.card-blog__title {
    background-color: var(--yellow);
    border: 0.4em solid var(--yellow);
    margin-inline-end: clamp(16.5em, 1rem, 0.1em);
    padding-block: clamp(0.1em, 1rem, 0.1em);
    padding-inline: clamp(0.5em, 1rem, 0.1em);
    border-radius: 0.3em;
    font-size: clamp(0.9em, 1rem, 0.9em);
}

.card-blog__date {
    font-size: clamp(0.8em, 1rem, 0.8em);
    margin: clamp(0.5em, 1rem, 0.5em) 0;
}

.card-blog__subtitle {
    font-size: clamp(1.4em, 1rem, 1.4em);
    margin: clamp(0.5em, 1rem, 0.5em) 0;
    padding-block: clamp(0.1em, 0.1rem, 0.1em);
    padding-inline: clamp(0.1em, 0.1rem, 0.5em);
}

.card-blog__description {
    font-size: clamp(0.95em, 1rem, 0.95em);
    margin: clamp(0.5em, 1rem, 0.5em) 0;
    color: gray;
}

.card-blog__author {
    display: flex;
    padding-block: clamp(0.5em, 1rem, 0.5em);
    padding-inline: clamp(0.5em, 1rem, 0.5em);
}

.card-blog__avatar {
    border-radius: 50em;
    width: clamp(2em, 2rem, 2em);
    margin-inline-end: clamp(0.5em, 1rem, 0.5em);
}

.card-blog__author-name {
    font-weight: bold;
    margin: 0;
    align-self: center;
    font-size: clamp(0.8em, 1rem, 0.8em);
}